{{ form_start(form, { attr: { novalidate: 'novalidate'}})}}
{{ form_widget(form) }}
{% if crew is defined %}
<div class="text-center">
<button class="btn btn-lg btn-success mt-2 ml-0" type="submit">
<i class="fas fa-check"></i>
    Mettre à jour !
</button>
</div>
{% endif %}

{% if crew is not defined %}
<div class="text-center">
<button class="btn btn-lg btn-success mt-2 ml-0" type="submit">
<i class="fas fa-check"></i>
    Création du Groupe !
</button>
</div>
{% endif %}
{{ form_end(form) }}