{% extends 'base.html.twig' %}
{% block quizz %}{% endblock %}
{% block title %}Les Groupes{% endblock %}
{% block body %}
    <div class="container bubble">
        <h2 class="bubble-title">Les Groupes</h2>
        <a href="{{ path('crew_creat') }}">
            <button class="btn btn-lg btn-success mt-2 ml-0" type="button"><i class="fas fa-plus"></i>Crée ton Groupe</button>
        </a>
    </div>
    <div class="brad p-2">
        <table class="table mt-5">
            <thead class="thead">
                <tr>
                    <th scope="col">Avatar</th>
                    <th class=" d-none d-lg-table-cell" scope="col">Nom</th>
                    <!--<th scope="col">Nombre de membres</th>-->
                    <th class=" d-none d-md-table-cell" scope="col">Nombre de Quiz</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for c in crews %}
                        <th scope="row">
                            {% if c.avatar is not empty %}
                                <img src="{{ vich_uploader_asset(c, 'avatarFile') | imagine_filter('mini_square') }}" alt="avatar de {{ c.name }}" class="brad">
                                    {% else %}
                                    <img src="{{ asset('/images/avatar1.png') | imagine_filter('mini_square') }}" alt="avatar de {{ c.name }}" class="brad">
                                    {% endif %}
                                </th>
                                <td><a href="{{ path('crew_show', {'id': c.id, 'slug': c.slug}) }}">{{c.name}}</a></td>
                                <!--<td class="d-none d-md-table-cell">{#members[c.id] #}</td>-->
                                <td>
                                    {% if quizzs[c.id] is defined %}
                                        {{ quizzs[c.id] }}
                                        {% else %}0
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
