{% extends 'base.html.twig' %}
{% block my_crew %}active{% endblock %}
{% block title %}Mes groupes{% endblock %}
{% block body %}
    <div class="container bubble mt-0">
        <h2 class="m-1 p-2 bubble-title">Mes Groupes</h2>
    </div>
    {% for message in app.flashes('success') %}
        <div class="m-flash alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="m-flash alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="mt-4">
        <div>
            <div class="brad m-1 p-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Avatar</th>
                            <th scope="col">Nom</th>
                            <th class=" d-none d-lg-table-cell" scope="col">Ancienneté</th>
                            <th scope="col">Rôle</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in mycrew %}
                            <tr>
                                <th scope="row">
                                    {% if m.avatar is not empty %}
                                        <img src="{{ vich_uploader_asset(m, 'avatarFile') | imagine_filter('mini_square') }}" alt="avatar de {{ m.name }}" class="brad">
                                            {% else %}
                                            <img src="{{ asset('/images/avatar1.png') | imagine_filter('mini_square') }}" alt="avatar de {{ m.name }}" class="brad">
                                            {% endif %}
                                        </th>
                                        <td>
                                            <a href="{{ path('crew_show', { 'id': m.id, 'slug': m.slug }) }}">
                                                {{ m.name }}</a>
                                        </td>
                                        <td class=" d-none d-lg-table-cell">
                                            {% for crew in usercrews %}
                                                {% if crew.crew.id == m.id %}
                                                    {{ crew.createdAt.diff(date())|date("%d j - %m m - %y a") }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        {% for crew in usercrews %}
                                            {% if crew.crew.id == m.id %}
                                                <td>{{ crew.roleCrew.name }}</td>
                                                <td>
                                                    {% if 1 == crew.roleCrew.id %}
                                                        <a href="{{ path('crew_edit', {'id': crew.crew.id, 'slug': crew.crew.slug }) }}">
                                                            {#TODO codé une alerte avec vérification de la suppression ? #}
                                                            Editer
                                                        </a>
                                                        <br/>
                                                        <a href="{{ path('crew_delete', {'id': crew.crew.id, 'slug': crew.crew.slug}) }}"
                                                        data-toggle="modal" data-target="#delete{{crew.crew.id}}" class="confirmModalLink">
                                                            Supprimer
                                                        </a>
                                                        <!-- Modal Pop-up-->
                                                            <div class="modal fade" data-keyboard="false" data-backdrop="static" id="delete{{crew.crew.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmation suppression du groupe</h4>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                        </div>
                                                                            <div class="modal-body">
                                                                                Es-tu vraiment sûr(e) de vouloir supprimer ton groupe <br/>
                                                                                <strong>"{{crew.crew.name}}"</strong> ?
                                                                            </div>
                                                                        <div class="modal-footer">
                                                                            <a type="button" class="btn btn-info" data-dismiss="modal" id="confirmModalNo">Fermer</a>
                                                                            <a type="button" class="btn btn-danger" href="{{ path('crew_delete', {'id': crew.crew.id, 'slug': crew.crew.slug}) }}" id="confirmModalYes">Supprimer</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END Modal Pop-up -->
                                                        {% elseif 2 == crew.roleCrew.id %}
                                                        <a href="#">
                                                            Editer
                                                        </a>
                                                        {% else %}
                                                        <a href="{{ path('crew_remove_member', { 'id': m.id , 'user': app.user }) }}">
                                                            <i class="fas fa-step-forward m-1"></i>
                                                            Quitter
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            {{ include('crew/crewTableFooter.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endblock %}
