{% extends 'base.html.twig' %}
{% block my_crew %}active{% endblock %}
{% block title %}Mon groupe{% endblock %}
{# TODO requet custom pour reduire le nombre de requets #}
{% block body %}
<div class="container bubble">
    <main class="col-12 col-md-8 offset-md-2">
        <div class="col-8 offset-2">
            <h2 class="bubble-title">Mon Groupe</h2>
        </div>
        <div class="m-1 border border-primary brad p-2">
            {% if roleUserActif <= 1 %}
                <div class="vodka h5 m-1">
                    <a href="{{ path('crew_edit', {'id': userCrews[0].crew.id }) }}">
                        <i class="fas fa-edit mr-1"></i>Modifier
                    </a>
                </div>
            {% endif %}
            <h3 class="d-inline">
                <u>
                    {{ userCrews[0].crew.name }}</u>
            </h3>
        </div>
        {% for message in app.flashes('success') %}
            <div class="m-flash alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="m-flash alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div
            class="row">
            {# Si createur la div modifier s'affiche #}
            <div class="col-2 p-2">
                {% if null != crew.avatar %}
                    <img src="{{ vich_uploader_asset(crew, 'avatarFile') | imagine_filter('small_square') }}" alt="avatar de {{ userCrews[0].crew.name }}" class="brad m-2">
                        {% else %}
                        <img src="{{ asset('/images/avatar1.png') | imagine_filter('small_square') }}" alt="avatar de {{ userCrews[0].crew.name }}" class="brad  m-2">
                        {% endif %}
                    </div>
                    <div class=" bubble-title col-9 p-2 ">
                        <p>
                            <ins>Crée le :</ins>
                            {{ userCrews[0].crew.createdAt|date('d/m/Y') }}</p>
                        <p>
                            <ins>Description:</ins>
                            {{ userCrews[0].crew.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion" class="p-2">
            <h3 class="m-1 border border-primary brad p-2">Quiz du Groupe</h3>
            <div class="brad m-1">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th scope="col">Quiz</th>
                            <th class=" d-none d-lg-table-cell" scope="col">Catégories</th>
                            <th scope="col">Niveaux</th>
                            <th class=" d-none d-md-table-cell" scope="col">Like</th>
                            <th scope="col">Score</th>
                            <th scope="col">Jouer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for q in quizzs %}
                            <tr>
                                <th scope="row">
                                    {{q.Quizz.title}}</th>
                                <td
                                    class="d-none d-lg-table-cell">
                                    {#TODO a effacer le temps de régler les sql#}
                                    {% if q.Quizz.category.name is defined %}
                                        {{q.Quizz.category.name}}
                                    {% endif %}
                                </td>
                                <td>
                                    {{q.Quizz.level.name}}</td>
                                <td class="d-none d-md-table-cell">
                                    {{ q.Quizz.nbrLikes }}</td>
                                <td>
                                    {{ [q.Quizz.avgScore]|round(1, 'floor') }}</td>
                                <td>
                                    {% if is_granted('ROLE_USER') %}
                                        <a href="{{path('quizz_show',{'id':q.id})}}">
                                            <button class="btn btn-success" type="button">Go !</button>
                                        </a>
                                        {% else %}
                                        <button class="btn btn-success" type="button">
                                            <a href="{{path('security_signup')}}"></a>Inscris-toi pour jouer</a>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h3 class="m-1 border border-primary brad p-2">Membre du Groupe</h3>
        <div class="brad m-1">
            <table class="table">
                <thead>
                    <th>Avatar</th>
                    <th>Nom</th>
                    <th class=" d-none d-lg-table-cell">Ancienneté</th>
                    <th>Statut</th>
                    {% if roleUserActif <= 2 %}
                        <th>Renvoyer</th>
                    {% endif %}
                    {% if roleUserActif <= 1 %}
                        <th colspan="2">Promouvoir</th>
                    {% endif %}
                </thead>
                <tbody>
                    {% for crew in userCrews %}
                        {% if crew.user == app.user %}
                            {% set roleUserActif = crew.roleCrew.id %}
                        {% endif %}
                        <tr>
                            <th
                                scope="col">
                                {#TODO créer un service pour avatar perso ou defaut avatar #}
                                {% if null != crew.user.avatar %}
                                    <img src="{{ vich_uploader_asset(crew.user, 'avatarFile') | imagine_filter('icon_square') }}" alt="avatar de {{ crew.user.userName }}" class="brad m-2 ">
                                        {% else %}
                                        <img src="{{ asset('/images/avatar1.png') | imagine_filter('icon_square') }}" alt="avatar de {{ crew.user.userName }}" class="brad  m-2">
                                        {% endif %}
                                    </th>
                                    <th scope="col">
                                        {{ crew.user.userName }}</th>
                                    <th class=" d-none d-lg-table-cell" scope="col">
                                        {{crew.createdAt.diff(date())|date("%d jours-%m mois- %y ans") }}</th>
                                    <th scope="col">
                                        {{ crew.roleCrew.name }}</th>
                                    <!-- ? Si l'utilisateur actif a un role 1 ou 2 alors j'affiche la colonne "renvoyer" -->
                                    {% if roleUserActif <= 2 %}
                                        <!-- ? Si l'utilisateur actif a un role 1 je n'affiche pas
                                                                                                                                                                                                                                                                                                                                                                                                    "renvoyer" -->
                                        {% if crew.roleCrew.id == 1 %}
                                            <th colspan="2">C'est qui le Patron ?</th>
                                            {% else %}
                                            <th scope="col">
                                                <a href="{{ path('crew_remove_member', {'user': crew.user, 'id': crew.crew.id, 'slug':crew.crew.slug }) }}" class="h3">
                                                    <i class="fas fa-sign-out-alt"></i>
                                                </a>
                                            </th>
                                        {% endif %}
                                    {% endif %}
                                    <!-- ? Si l'utilisateur actif a un role 1 j'affiche la colonne "promouvoir" -->
                                    {% if roleUserActif <= 1 %}
                                        <!-- ? Si l'utilisateur actif a un role 1 je n'affiche pas la
                                                                                                                                                                                                                                                                                                                                                                                                        case "promouvoir" -->
                                        {% if crew.roleCrew.id == 1 %}
                                            <th colspan="2">C'est Moi l'Patron !</th>
                                            {% elseif crew.roleCrew.id == 2 %}
                                            <!-- ? Si l'utilisateur actif a un role 2 j'affiche pas les cases "membre & créateur" -->
                                            <th scope="col">
                                                <a href="{{ path('crew_return_member', {'user': crew.user, 'id': crew.crew.id, 'slug':crew.crew.slug }) }}" class="h3">
                                                    <i class="fas fa-user-astronaut"></i>
                                                    <u class="h6">Membre</u>
                                                </a>
                                            </th>
                                            <th scope="col">
                                                <a href="{{ path('crew_add_creater', {'user': crew.user, 'id': crew.crew.id, 'slug':crew.crew.slug }) }}" class="h3">
                                                    <i class="fas fa-chess-king m-1"></i>
                                                    <u class="h6">Créateur</u>
                                                </a>
                                            </th>
                                            {% else %}
                                            <!-- ? Si l'utilisateur actif a un role 3 j'affiche pas les cases "leader & créateur" -->
                                            <th scope="col">
                                                <a href="{{ path('crew_add_leader', {'user': crew.user, 'id': crew.crew.id, 'slug':crew.crew.slug }) }}" class="h3">
                                                    <i class="fas fa-medal m-1"></i>
                                                    <u class="h6">Leader</u>
                                                </a>
                                            </th>
                                            <th scope="col">
                                                <a href="{{ path('crew_add_creater', {'user': crew.user, 'id': crew.crew.id, 'slug':crew.crew.slug }) }}" class="h3">
                                                    <i class="fas fa-chess-king m-1"></i>
                                                    <u class="h6">Créateur</u>
                                                </a>
                                            </th>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if userCrews | length < 2 %}
                        <span href="#" class="h3">
                            <i class="fas fa-sad-tear  mr-1"></i>Oh... tu es tout(e) seul(e) ?
                            <a href="{{ path('list_users_free', {'id' : crew.id, 'slug':crew.slug } ) }}">Invite du monde
                                <i class="fas fa-users"></i>
                            </a>
                        </span>
                        {% elseif roleUserActif <= 2 %}
                        <span href="#" class="h3">
                        <a href="{{ path('list_users_free', {'id' : crew.id, 'slug':crew.slug } ) }}">
                            Invite plus du monde
                            <i class="fas fa-users m-1"></i>
                        </a>
                        pour faire grandir ton groupe
                        </span>
                    {% endif %}
                </main>
            </div>
            {% endblock %}
