{% extends 'base.html.twig' %}
{% block new_quizz %}active{% endblock %}
{% block title %}Edition {{ crew }}{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h2 class="bubble-title">Modifie ton Groupe</h2>
        <p>Afin de mieux recruter</p>
        <div class="bubble">
            {{ include('crew/_formNewCrew.html.twig') }}
        </div>
    </div>
{% endblock %}
