{% extends 'base.html.twig' %}
{% block new_quizz %}active{% endblock %}
{% block title %}Nouveau Groupe{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="bubble-title">Crée ton Groupe</h2>
        <p>En créeant ton groupe tu pourras
            <br/>
            créer des Quiz privés
            <br/>
            et les partager avec les membres de ton groupe
        </div>
        <div class="bubble p-3">
            {{ include('crew/_formNewCrew.html.twig') }}
        </div>
    {% endblock %}