{% extends 'base.html.twig' %}
{% block title %}Les Quiz{% endblock %}
{% block body %}
    <div class="container bubble">
        <h2 class="bubble-title">Les Quiz</h2>
        <h5>De la catégorie</h5>
        <h3 class="bubble-title">
            {{ category.name }}</h3>
    </div>
    <table class="table mt-5">
        <thead class="thead">
            <tr>
                <th scope="col">Quiz</th>
                <th scope="col">Moyenne</th>
                <th scope="col">Niveaux</th>
                <th scope="col">Like</th>
                <th scope="col">Jouer</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                {% for q in quizzs %}
                    <th scope="row">
                        {{q.title}}</th>
                    <td>
                        {# TODO codé en dur a modifier #}
                        {{ random(10) }}/10
                    </td>
                    <td>
                        {{q.level.name}}</td>
                    <td>
                        {# TODO codé en dur a modifier #}
                        {{ random(30) }}</td>
                    <td>

                        {% if is_granted('ROLE_USER') %}
                            <a href="{{path('quizz_show',{'id':q.id, 'slug':q.slug})}}">
                                <button class="btn btn-success" type="button">Go !</button>
                            </a>
                            {% else %}
                            <a href="{{path('security_signup')}}">
                                <button class="btn btn-success" type="button">Inscris-toi pour jouer</button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}