{% extends 'base.html.twig' %}
{% block category %}active{% endblock %}
{% block title %}Les Catégories{% endblock %}
{% block body %}
    <div class="container bubble">
        <h2 class="bubble-title">Les Catégories</h2>
    </div>
    <div class="bubble-cat">
        {% macro recursiveCategory(category) %}
            {% import _self as self %}
            <li>
                <a href="{{ path('category_show', { 'id': category.id, 'slug': category.slug}) }}">
                    {% if null == category.Parent %}Toute la Catégorie :
                        {{ category }}
                        {% else %}
                        {{ category }}
                        <span class="h6">
                            (
                            {% if 0 == category.quizzs | length %}
                                {{ category.quizzs|length }}
                                Quizz
                                <i class="fas fa-sad-cry ml-2"></i>
                                {% elseif 1 == category.quizzs|length %}
                                {{ category.quizzs|length }}
                                Seul Quiz
                                <i class="fas fa-sad-tear ml-2"></i>
                                {% elseif 10 < category.quizzs|length %}
                                (
                                {{ category.quizzs|length }}
                                quiz
                                <i class="fas fa-grin ml-2"></i>
                                {% elseif 10 > category.quizzs|length %}
                                {{ category.quizzs|length }}
                                Quiz
                                <i class="fas fa-laugh-beam ml-2"></i>
                            {% endif %}
                            )
                        </span>
                    {% endif %}
                </a>
            </li>
            <ul>
                {% if category.children | length %}
                    {% for child in category.children %}
                        {{ self.recursiveCategory(child) }}
                    {% endfor %}
                {% endif %}
            </ul>
        {% endmacro %}
        {% from _self import recursiveCategory %}
        <div class="col-6 offset-3" id="accordion">
            {% for c in categories %}
                {% if null == c.parent %}
                    <h4>{{ c.name }}</h4>
                    <ul>
                        {{ recursiveCategory(c) }}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
