{% extends 'base.html.twig' %}
{% block title %}Profil de {{ user }} !{% endblock %}
{% block body %}
    <div class="container bubble">
    {% for message in app.flashes('success') %}
                <div class="m-flash alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        <h2 class="bubble-title">Mon Profil</h2>
        <div class="text-center mb-3">
        <a href="{{path('account_profile')}}"><button class="btn btn btn-success btn-sm mt-2 ml-0"><i class="fas fa-user-edit"></i>Modifier mes informations</button></a>
                    <a href="{{path('account_password')}}"><button class="btn btn btn-success btn-sm mt-2 ml-0"><i class="fas fa-user-edit"></i>Modifier mon mot de passe</button></a>
                    </div>
    </div>

    <div class="container fluid mb-4">
        <div class="row">
            <div class="col-4 d-none d-lg-block">
                {% if user.avatar %}
                    <img alt="avatar de {{ user.username }}" class=" brad" src=" {{  vich_uploader_asset(app.user, 'avatarFile') | imagine_filter('medium_square') }}">
                        {% else %}
                        <div class="bigSize">
                            <i class="fas fa-portrait"></i>
                        </div>
                    {% endif %}
                </div>
                <div class=" col-12 col-lg-4 d-lg-none ">
                    {% if null != user.avatar %}
                        <img src="{{ vich_uploader_asset(app.user, 'avatarFile') | imagine_filter('menu_square') }}" class="brad">
                            {% else %}
                            <div class="bigSize">
                                <i class="fas fa-portrait"></i>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-8 pl-0 text-left">
                        <ul class="list-unstyled mt-4 ml-5">
                            <li class="h5 mb-2"><i class="fas fa-user fa-sm pr-2 mb-2"></i><ins class="text-success h4">Nom</ins><br/>
                                <u>{{ user.username }}</u>
                            </li>
                            <li class="h5 mb-2"><i class="fas fa-envelope fa-sm pr-2 mb-2"></i><ins class="text-success h4">Email</ins><br/>{{ user.email }}</li>
                            <li class="h5 mb-2 text-justify"><i class="fas fa-comments fa-sm pr-2"></i><ins class="text-success h4">Présentation</ins></br> {{ user.presentation }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="accordion" class="p-2">
                <h3 class="m-1 border border-primary brad p-2">Mes Groupes</h3>
                <div clas="brad m-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Avatar</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Depuis</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mc in myCrews %}
                                <tr>
                                    <td>
                                        {% if null != mc.crew.avatar %}
                                            <img src="{{ vich_uploader_asset(mc.crew, 'avatarFile') | imagine_filter('small_square') }}" alt="avatar de {{ mc.crew.name }}" class="brad">
                                            {% endif %}
                                        </td>
                                        <td scope="row">
                                            <a href="{{ path('crew_show' , {'id': mc.crew.id, 'slug': mc.crew.slug }) }}">{{mc.crew.name }}</a>
                                        </td>
                                        <td>{{ mc.crew.createdAt|date("d-m-Y")}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if myCrews is empty %}
                            <span href="#" class="h4 m-2">
                                <i class="fas fa-sad-tear mr-1"></i>
                                Tu n'as pas encore de groupe ?
                            </span>
                            <br/>
                        {% endif %}
                        {{ include('crew/crewTableFooter.html.twig') }}
                    </div>
                    <!--Revoir à partir d'ici les stats et les quizzes-->
                    <h3 class="m-1 my-2 border border-primary brad p-2">Mes Statistiques</h3>
                    <div class="brad m-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Quiz</th>
                                    <th scope="col">Catégories</th>
                                    <th scope="col">Niveaux</th>
                                    <th scope="col">Résultats</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ms in myStats %}
                                    <tr>
                                        <th scope="row">
                                            <a href="{{ path('quizz_show' , {'id': ms.quizz.id, 'slug': ms.quizz.slug }) }}">{{ ms.quizz.title }}</a>
                                        </th>
                                        <td>{{ ms.quizz.category }}</td>
                                        <td>{{ ms.quizz.level }}</td>
                                        <td>{{ ms.result }}
                                            {% if ms.result == 10 %}
                                                <i class="fas fa-check-circle green ml-2"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <h3 class="m-1 border border-primary brad p-2">Mes Quiz</h3>
                    <div>
                        <div class="brad m-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Quiz</th>
                                        <th scope="col">Catégories</th>
                                        <th scope="col">Niveaux</th>
                                        <th scope="col">Like</th>
                                        <th scope="col">Résultats moyen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mq in myQuizzes %}
                                        <tr>
                                            <th scope="row">
                                                <a href="{{ path('quizz_show' , {'id': mq.id, 'slug': mq.slug }) }}">{{ mq.title }}</a>
                                            </th>
                                            <td>{{ mq.category }}</td>
                                            <td>{{ mq.level }}</td>
                                            <td>{{ mq.nbrLikes }}</td>
                                            <td>{{ mq.avgScore }}
                                                {% if mq.avgScore == 10 %}
                                                    <i class="fas fa-check-circle green ml-2"></i>
                                                    {% else %}
                                                    <i class="fas fa-times-circle red"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endblock %}
