{% extends 'base.html.twig' %}
{% block title %}Modification du mot de passe{% endblock %}
{% block body %}

<div class="container bubble mt-3">
<div class="container">
        <h2 class="bubble-title">Modification du mot de passe</h2>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group text-center">
        <button class="btn btn-lg btn-success mt-2 ml-0" type="submit"><i class="fas fa-check"></i>Modifier le mot de passe !</button>
        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}