{% extends 'base.html.twig' %}
{% block quizz %}Membres{% endblock %}
{% block title %}Les Membres{% endblock %}
{% block body %}
<div class="container bubble">
    <h2 class="bubble-title">
        {% if crew != null %}
            Ajoute des membres à ton groupe
            <br/>
            {{ crew.Name }}
            {% else %}
            Les Membres
        {% endif %}
    </h2>
    </div>
    <div class="p-2">
    <table class="table mt-5">
        <thead class="thead">
            <tr>
                <th scope="col">Avatar</th>
                <th scope="col">Nom</th>
                <th class=" d-none d-lg-table-cell" scope="col">Date d'inscription</th>
                <th scope="col">Inviter</th>
                {#
                                        <th class=" d-none d-md-table-cell" scope="col"><u>Nbr quizz poster</u></th>
                                        <th scope="col"><u>Avg score</u></th>
                                        <th scope="col"><u>je suis déjà dans X groupe</u></th>
                                        #}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for user in users %}
                    <th
                        scope="col">
                        {#TODO créer un service pour avatar perso ou defaut avatar #}
                        {% if null != user.avatar %}
                            <img src="{{ vich_uploader_asset(user, 'avatarFile') | imagine_filter('icon_square') }}" alt="avatar de {{ user.userName }}" class="brad m-2">
                                {% else %}
                                <img src="{{ asset('/images/avatar1.png') | imagine_filter('icon_square') }}" alt="avatar de {{user.userName }}" class="brad  m-2">
                                {% endif %}
                            </th>
                            <th scope="col"><u>{{ user.username }}</u></th>
                            <th class=" d-none d-lg-table-cell" scope="col">{{ user.createdAt|date('d-m-Y') }}</th>
                            <th scope="col">
                                <a href="{{ path('crew_add_member', {'user': user, 'id': crew.id }) }}" class="h2">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </th>
                            {#
                                                    <th class=" d-none d-md-table-cell" scope="col"><u>Nbr quizz poster</u></th>
                                                    <th scope="col"><u>Avg score</u></th>
                                                    <th scope="col"><u>je suis déjà dans X groupe</u></th>
                                                    #}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        {% endblock %}
