@import "~bootstrap/scss/bootstrap";

$color1: #18171b;
$color2: #b729d9;
$color3: #1299da;
$color4:#ff8400;
$color5: #002547;

.color1 {color: $color1;}
.color2 {color: $color2;}
.color3 {color: $color3;}
.color4 {color: $color4;}
.color5 {color: $color5;}

//$color1: #d92139;
//$color1: #fec748;
//$color2: #aec33a;

.green {
    color: $color2
}

$true: #23a71e;


$info: #002547;
$primary: #253f58;
$success: #ff8400;
$secondary: #002547 !important;
// the ~ allows you to reference things in node_modules

$danger: red;
$font-family-sans-serif:'Changa';


body {
    overflow-y: scroll;
    font-family: 'Changa';
    background-color: #18171b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(322,960,477)'%3E%3Cstop offset='0' stop-color='%2318171b'/%3E%3Cstop offset='1' stop-color='%23b729d9'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='351' height='292.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.13'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-position-y: -7px;
    background-attachment: fixed;
    background-size: cover;
    }

.green {
    color: $true;
}

.red {
    color: #d92139;
}

.badge {
    color: $color3 !important;
}

.true {
    border: solid 5px $true;
}

.false {
    border: solid 5px red;
}

main {
    overflow-y: visible;
}

//TODO classe de test pour les div
.test {
    border: solid 3px red;

}

u {
    text-decoration: none;
    text-transform: capitalize;
}

form {
    text-align: left;
}

a {
    color: inherit;
}

a:hover {
    color: $color4;
}


//? border radius 1rem
.brad {
    border-radius: 1rem;
    overflow: hidden;
}

#user_avatar {
    border: solid 2px $color1;
    border-radius: 0.5em;
    overflow: hidden;
}

.dflex {
    display: flex;
    align-items: center;
}

.bubble-quizz {
    background-color: $color1;
    border: solid 2px $color4;
    color: $color3;
    text-align: center;
    border-radius: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.bubble {
    background-color: $color1;

    color: $color3;
    text-align: center;
    margin-top: 1em;
    border-radius: 1rem;
    padding: 0.5em;

.bubble::after {
     position: absolute;
     top: -4px;
     bottom: -4px;
     left: -4px;
     right: -4px;
     background: linear-gradient(205deg, $color4, #CA0D0D, $color4);
     content: '';
     z-index: -1;
     border-radius: 16px;
}
    &-title {
        color: $color2;
        text-align: center;
    }

    &-cat {
        background-color: $color1;
        color: $color3;
        margin-top: 1em;
        border-radius: 1em;
        padding: 0.5em;
        text-align: left;
    }
}

.bigSize {
    font-size: 6em;
    position: absolute;
}

.vodka {
    position: absolute;
    right: 1em;

}

.category {
    background-color: $primary;
}


.p-relat {
    float: right;
}


//? Log menu
.log-menu {
    line-height: 2em;
    padding-top: 1em;
    color: $color3;
    float: right;
}

//? profil page


.progress {

    width: 90%;
    background-color: $color1;
    border: solid 2px $color3;
    margin: auto;
    height: 1.5em;
}

//? question page

/*.aside-overflow {
    height: 56.68rem;
    overflow-y: scroll;
} */

.resum {
    position: relative;
}

.shortQuestion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
}

.divDetails {
    display: none;
}

.actived {
    width: 101%;
    border-radius: 1rem;
    top: 1.4rem;
    position: absolute;
    z-index: 50;
    display: block;
    background: $color3;
    color: $color1;

}


#newQuestion-title {
    display: none;
}

.li_none {
    list-style-type: none;
}

