@import 'app';

#btn-signup,
#btn-login,
button.btn.btn-success {
    border-color: $color2;
    margin-left: 1em;

    &:hover {
        background-color: $color3;
        color: $color1;
    }
}

button.btn.btn-danger {
    margin-left: 1em;
    border-color: $color4 !important;

    &:hover {
        background-color: $color2;
        color: $color1;
    }
}

button.btn.btn-success,
button.btn.btn-danger {
    border: 2px solid $color1;
    box-shadow: 2px 0px 0px 0px black;
    background-color: $color4;
}