@import 'app';

header {
    position: fixed;
    width: 100%;
    z-index: 250;
    background-color: $color1;
    color: $color2;

    .burgger {

        background-color: $color2;
    }

    a:hover {
        color: $color2;
        text-decoration: none;
    }
}

.subheader {
    position: relative;
    height: 9.75rem;
}

// HEADER NAVIGATION //

header .nav-tabs {
    border: none;
    justify-content: center;
    border-bottom: solid 1px $color5;

}

header .nav .nav-item .nav-link {
    background-color: $color1;
    border: solid 2px $color5;
    border-bottom: solid 1px $color5;
    margin: 0 1em;
    color: $color3;
}

header .nav .nav-item .active {
    background-color: #002547;
    color: $color2;
    border: solid 2px $color5;
}

header .nav .nav-item:focus {
    margin-bottom: 1px;
    z-index: 50;
    background-color: #002547;
    color: $color2;
    border: solid 2px $color5;
}

header .nav .nav-item .disabled {
    background-color: $color5;
    margin: 0 1em;
    border: $color5;
    color: #1F1C1E;
}

.header-menu {
    width: 100%;
    margin: auto;
}