@import 'app';

/*********************
*** HOME ANIMATION ***
**********************/

.wrapper-2rows {
    margin: 0 auto 100px auto;
    max-width: 95%;
}

.wrapper-row {
    margin: 0 auto 100px auto;
    max-width: 275px;
}

.stage {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/******************************************
*** BUILD THE SCENE AND ROTATE ON HOVER ***
*******************************************/

.scene {
    width: 255px;
    height: 400px;
    margin: 30px;
    //float: left;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    cursor: pointer;
}

.quizz-show {
    width: 255px;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-130px);
    -moz-transform: translateZ(-130px);
    transform: translateZ(-130px);
    -webkit-transition: -webkit-transform 350ms;
    -moz-transition: -moz-transform 350ms;
    transition: transform 350ms;
}
.quizz-show p{
    padding: 0 2em;
}

.quizz-show:hover {
    transform: rotateY(-78deg) translateZ(20px);
}

.quizz-show .poster,
.quizz-show .info {
    position: absolute;
    width: 255px;
    height: 400px;
    background-color: $color1;
    color: $color3;
    backface-visibility: hidden;
}

.quizz-show .poster {
    transform: translateZ(130px);
    background-size: cover;
    background-repeat: no-repeat;
}

.quizz-show .info {
    transform: rotateY(90deg) translateZ(130px);
    border: 2px solid $color4;
    font-size: 0.75em;
}