@import 'app';

.modal {
    position: absolute;
    top: 10px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.modal-header{
    color:#53ef00;
    background-color: #18161b;
    border: 1px solid #de3200 !important;

}

.modal-content{
    color: $color3;
    font-size: 1.3em;
    background: #18161b;
}

.modal-body{
    border: 1px solid #de3200 !important;
    background-color: #18161b;
}

.modal-footer{
    border: 1px solid #de3200 !important;
    background-color: #18161b;
}

#confirmModalNo{
    background-color: #3419bbfb;
    color: #fff;
    font-size: 0.9em;

    &:hover {
        background-color: #5e7dd3;
    }
}

#confirmModalYes{
    color: #fff;
    font-size: 0.9em;

    &:hover {
        background-color: #a02434;
        color: #dfdb20;
    }
}