/******************************
*** SPRITES CATEGORIES HOME ***
******************************/
.img-cat {
    width: 255px;
    height: 160px;
}
//?
.cat-1 {
    background-position: -5px -6px;
    background-image: url('../images/cinebis.png');
}
//?
.cat-2 {
    background-image: url('../images/fromages.png');
    background-position: -530px -6px;

}
//? Geek
.cat-3 {
    background-image: url('../images/geek.png');
    background-position: -1px 0;
}

//? Animals 1
.cat-4 {
    background-image: url('../images/animals.png');
    background-position: -1px -1px;
}
//?
.cat-6 {
}
//? Biere *3
.cat-6 {
    background-image: url('../images/food-drink.png');
    background-position: -530px -6px;
}
// ? Code
.cat-7 {
    background-image: url('../images/code.png');
    background-position: -5px -6px;
}
//? PHP *3
.cat-8 {
    background-image: url('../images/code.png');
    background-position: -5px -6px;
}
//? Symfony *4
.cat-9 {
    background-position: -5px -6px;
    background-image: url('../images/code.png');
}
//? WordPress *5
.cat-10 {
    background-position: -5px -6px;
    background-image: url('../images/code.png');
}
//? JavaScript *2
.cat-11 {
    background-image: url('../images/code.png');
    background-position: -5px -6px;
}
//? React
.cat-12 {
    background-image: url('../images/code.png');
    background-position: -5px -6px;
}
//? HTML
.cat-13 {
    background-image: url('../images/code.png');
    background-position: -5px -6px;
}
//? CSS
.cat-14 {
    background-image: url('../images/code.png');
    background-position: -5px -6px;
}
//? Scss
.cat-15 {
    background-image: url('../images/code.png');
    background-position: -5px -6px;
}
//? Linux *2
.cat-17 {
    background-image: url('../images/geek.png');
    background-position: -263px 0;
}
//? iOs *4
.cat-18 {
    background-image: url('../images/geek.png');
    background-position: -5px -6px;
}
//? Windows *3
.cat-19 {
    background-image: url('../images/windows.png');
    background-position: -5px 1px;
}
//? Science-fiction
.cat-20 {
    background-image: url('../images/cine.png');
    background-position: -5px -6px;
}
//? Thriller *2
.cat-23 {
    background-image: url('../images/cine.png');
    background-position: -5px -6px;
}
//? Comedie *3
.cat-24x {
    background-image: url('../images/cine.png');
    background-position: -5px -6px;
}
//? Horreur *4
.cat-25x {
    background-image: url('../images/cine.png');
    background-position: -5px -6px;
}
//? Animation *5
.cat-26 {
    background-image: url('../images/cine.png');
    background-position: -5px -6px;
}
//? Sucré
.cat-24 {
    background-image: url('../images/food-drink.png');
    background-position: -5px -6px;
}
//? Salé
.cat-25 {
    background-image: url('../images/food-drink.png');
    background-position: -266px -6px;
}
//? Animation *5
.cat-26 {
    background-image: url('../images/cine.png');
    background-position: -5px -6px;
}
//? Chimie
.cat-27{
background-image: url('../images/divers.png');
    background-position: -5px -6px;
}
//? Histoire
.cat-28{
background-image: url('../images/divers.png');
    background-position: -265px -6px;
}
//? Religion
.cat-29{
background-image: url('../images/divers.png');
    background-position: -530px -6px;
}