@import 'app';

thead.thead {
    background-color: $color5;
    color: $color2;
}

.table {
    color: $color3;
}

.table th {
    background-color: $color5;
    border-color: $color4;
    vertical-align: middle;
    border-bottom: 1px solid $color4 !important;
}

.table thead th {
    background-color: $color5;
    border-bottom-color: $color4;
    border-bottom: 2px solid $color4 !important;
    border-top: 2px solid $color4 !important;
}

.table td {
    background-color: $color5;
    border-top-color: $color4;
    vertical-align: middle;
    border-bottom: 1px solid $color4 !important;
}