{% extends 'base.html.twig' %}

{% block title %}Pas de droits d'accès à cette ressource{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Oops......</h1>
            <h2>Tu n'as pas de droits pour aller sur cette page
            <br/>
                {{ status_code }}
                {{ status_text }}</h2>
        </div>
        <div class="container text-center">
            <p>Je crois bien qu'il y a une erreur</p>
            <a href="{{ path('home')}}" class="btn btn-primary">Revenir à l'Accueil</a>
        </div>
    </div>
{% endblock %}