{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Oops......</h1>
            <h2>Cette page n'existe pas dis donc
            <br/>
                {{ status_code }}
                {{ status_text }}</h2>
        </div>
        <div class="container text-center">
            <p>Je crois bien que nous nous sommes perdus</p>
            <a href="{{ path('home')}}" class="btn btn-primary">Revenir à l'Accueil</a>
        </div>
    </div>
{% endblock %}