{{ form_start(form, { attr: { novalidate: 'novalidate'}})}}
{{ form_widget(form) }}
<div class="form-group text-center">
    <button class="btn btn-lg btn-success mt-2 ml-0" type="submit">
        C'est parti pour ton nouveau Quiz !
    </button>
</div>
{{ form_end(form) }}
