{% extends 'base.html.twig' %}
{% block quizz %}Quiz{% endblock %}
{% block title %}Quiz en Construction{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="bubble-title">Ces quiz ne sont pas finis.
            <br/>
            Est-ce que tu ne voudrais pas les finir avant d'en commencer un nouveau ?
        </h2>
    </div>
    <div class="bubble">
        <a href="{{ path('new_quizz', { 'sure':'yes' }) }}" class="h5"><button  class="btn btn-lg btn-success my-3" type="button"><i class="fas fa-plus"></i>Commencer un nouveau Quiz</button></a>
        <div class="" id="accordion">
            {% for qz in quizzs %}
                <h3 class="m-1 my-2 border border-primary brad p-2">
                    {{qz.title}}</h3>
                <div class="brad m-1">
                    <a class="h4 p-2" href="{{ path('questions_quizz', { 'id': qz.id, 'slug': qz.slug, 'nbr':questions[qz.id]|length }) }}">
                        <i class="fas fa-door-open m-2"></i>
                        Reprendre
                    </a>
                    <a class="h4 p-2" href="{{ path('quizz_delete', { 'id': qz.id, 'slug': qz.slug }) }}"
                    data-toggle="modal" data-target="#delete{{qz.id}}" class="confirmModalLink">
                        <i class="fas fa-trash m-2"></i>
                        Supprimer
                    </a>
                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="delete{{qz.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmation suppression du groupe</h4>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                        </div>
                                                                            <div class="modal-body">
                                                                                Es-tu vraiment sûr(e) de vouloir supprimer ton quiz en cours <br/>
                                                                                <strong>"{{qz.title}}"</strong> ?
                                                                            </div>
                                                                        <div class="modal-footer">
                                                                            <a type="button" class="btn btn-info" data-dismiss="modal" id="confirmModalNo">Annuler</a>
                                                                            <a type="button" class="btn btn-danger" href="{{ path('quizz_delete', {'id': qz.id, 'slug': qz.slug}) }}" id="confirmModalYes">Supprimer</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END Modal Pop-up -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Question</th>
                                <th scope="col">Réponse 1</th>
                                <th scope="col">Réponse 2</th>
                                <th scope="col">Réponse 3</th>
                                <th scope="col">Réponse 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qt in questions[qz.id] %}
                                <tr>
                                    <td>
                                        {{ qt.body }}</td>
                                    <td>
                                        {{ qt.prop1 }}</td>
                                    <td>
                                        {{ qt.prop2 }}</td>
                                    <td>
                                        {{ qt.prop3 }}</td>
                                    <td>
                                        {{ qt.prop4 }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}