{% extends 'base.html.twig' %}
{% block new_quizz %}active{% endblock %}
{% block title %}Nouveau Quiz{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="bubble-title">Propose ton Nouveau Quiz</h2>
        <p>Propose ici ton nouveau Quiz.
            <br/>
            Tu dois saisir un titre de Quiz avec ses 10 Questions.
            <br/>
            Pour chaque Question, tu dois proposer 1 bonne réponse ainsi que 3 fausses.
            <br/>
            Tu pourras aussi partager une anecdote en rapport avec la Question, et si le coeur t'en dis, tu pourras mettre un lien de la source où tu as trouvé cette anecdote.</p>
    </div>
    <div class="bubble p-2">
        {{ include('quizz/_formNewQuizz.html.twig') }}
    </div>
{% endblock %}