{% extends 'base.html.twig' %}
{% block new_quizz %}active{% endblock %}
{% block title %}Nouveau {% endblock %}
{% block body %}
    <div class="d-flex flex-nowrap bubble">
        <div class="col-9" id="formDiv">
            {% for message in app.flashes('primary') %}
                <div class="m-flash alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <h4 class="text-center bubble-title" {% if (nbr> 0) %} id="newQuestion-title" {% endif %}>Question
                {{ nbr + 1 }}</h4>
            {{ form_start(form, {'action': path('questions_quizz', {'id': quizz.id,'slug': quizz.slug, 'nbr' : nbr } )} ) }}
            {{ form_widget(form) }}
            <div class="form-group text-center">
            <button class="btn btn-lg btn-success mt-2 ml-0" type="submit">Question suivante !</button>
            </div>
            {{ form_end(form) }}
        </div>
        <aside class="bubble col-3">
            <div class=" ">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class=" m-flash=" m-flash" alert=" alert" alert-{{ label }}=" alert- {{ label }} " ">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <h4 class="bubble-title">Dans le Quiz :
                    <br/>
                    "{{ quizz.title }}"
                    <br/></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ nbr }}" style="width: {{ ( nbr ) * 10 }}%" aria-valuemax="9">
                        {{ nbr }}
                        / 10</div>
                </div>
            </div>
            <div class="aside-overflow mt-3">
                {% if questions is defined %}
                    {% for q in questions %}
                        <div class="resum">
                            <span class="text-left ">Question {{ q.nbr }}:</span>
                            <div class="shortQuestion">
                                {{ q.body }}</div>
                            <div class="divDetails ">
                                {{ q.body }}</div>
                        </div>
                        <hr>
                        {% endfor %}
                    {% endif %}
                </div>
            </aside>
        </div>
    {% endblock %}
