{% extends 'base.html.twig' %}
{% block new_quizz %}active{% endblock %}
{% block title %}Jeu en cours{% endblock %}
{% block body %}
<div class="container bubble">
    <div class="bubble col-8 offset-2 bubble-title h2 mt-0">
        Question
        {{ nbr }}
        <div class="progress my-2">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ nbr }}" style="width: {{ ( nbr ) * 10 }}%" aria-valuemax="9">
                {{ nbr }}/ 10
            </div>
        </div>
    </div>
    <div class="bubble col-8 offset-2" id="formDiv">
        {{ form_start(form ) }}
        {% if question.image is not empty %}
            <div class="float-right">
                <img src="{{ vich_uploader_asset(question, 'imageFile') | imagine_filter('question') }}" alt="Illustration de la question" class="brad m-2"></div>
            {% endif %}
            {{ form_widget(form) }}
            <div class="text-center">
            <button class="btn btn-lg btn-success mt-2 ml-0" type="submit">
                Question suivante !
            </button>
            </div>
            {{ form_end(form) }}
        </div>
        </div>
    {% endblock %}