{% extends 'base.html.twig' %}
{% block quizz %}active{% endblock %}
{% block title %}Les Quiz{% endblock %}
{% block body %}
    <div class="container bubble">
        <h2 class="bubble-title">Les Quiz</h2>
    </div>
    <div class="container">
        <ul class="list-inline">
            <!-- li class="list-inline-item"><a href="{{ path ('quizz_list_sort' , {'sort' : 'title' }) }}">A à Z</li>|</a -->
            <li class="list-inline-item">
                <a href="{{ path ('quizz_list_sort' , {'sort' : 'completedAt'}) }}">Date</li>|</a>
            <li class="list-inline-item">
                <a href="{{ path ('quizz_list_sort' , {'sort' : 'level'}) }}">Niveaux</li>|</a>
            <li class="list-inline-item">
                <a href="{{ path ('quizz_list_sort' , {'sort' : 'nbrLikes'}) }}">Like</li>
            </a>
        </ul>
        <a href="{{ path('new_quizz', {'sure' : 'yes'}) }}">
            <button class="btn btn-lg btn-success mt-2 ml-0" type="button"><i class="fas fa-plus"></i>Propose ton Nouveau Quiz</button>
        </a>
    </div>
    {{ include('quizz/tableQuizzs.html.twig') }}
{% endblock %}