{% extends 'base.html.twig' %}
{% block quizz %}active{% endblock %}
{% block title %}
    {{quizz.title}}{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="bubble-title">{{quizz.title}}</h2>
    </div>
    <div class="container">
    <h4>J'adore ce quiz
        <i class="fas fa-thumbs-up ml-1"></i>
    </h4>
    <a href="{{ path('add_like', {'id': quizz.id, 'slug': quizz.slug }) }}"></a>
    <p>{{quizz.description}}</p>
        </div>
    {% for q in questions | slice(0, 3) %}
        <div class="bubble">
            <p class="h5">{{ q.body }}</p>
        </div>
    {% endfor %}
    <p class="h5">Pour voir les 7 prochaines...
        <i class="fas fa-arrow-circle-right"></i>
        {% if is_granted('ROLE_USER')%}
        <div class="container">
            <a href="{{ path('quizz_play', { 'slug' : quizz.slug, 'id' : quizz.id, 'nbr' : 1 }) }}">
                <button class="btn btn-lg btn-success mt-2 ml-0" type="button">Jouer !</button>
            </a>
            </div>
            {% else %}
            <div class="container">
            <a href="{{ path('security_signup') }}">
                <button class="btn btn-lg btn-success mt-2 ml-0" type="button">Incrist-toi !</button>
            </a>
        {% endif %}
    </p>
{% endblock %}