{% extends 'base.html.twig' %}
{% block quizz %}active{% endblock %}
{% block title %}{{quizz.title}}
{% endblock %}

{% block body %}
<div class="container mb-3 mt-3">
    <h3>Voici le nouveau Quiz que tu viens de poster
        <i class="fas fa-check ml-1"></i>
    </h3>
    <p class="bubble-title">Revenir à la liste complète des Quiz</p>
    <a href="{{ path('quizz_list_sort') }}"> <button class="btn btn-lg btn-success mt-2 ml-0" type="button">Voir tous les Quiz</button></a>
</div>

<div class="container">
    <h2 class="bubble-title">{{quizz.title}}</h2>
    <p>{{quizz.description}}</p>
</div>
<div class="container mt-4">
<h3 class="bubble-title">Les Questions</h3>
</div>
{% for q in questions %}
<div class="bubble">
    <p class="h5">{{ q.body }}</p>
</div>
{% endfor %}
{% endblock %}