{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <div class="container bubble">
        <h2 class="bubble-title">Mot de passe oublié ?</h2>
        <p>Indique ton adresse email afin de recevoir dans ta boîte mail un lien qui te permettra de réinisialiser ton mot de passe</p>
        {% for message in app.flashes('danger') %}
                <div class="m-flash alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        <form method="post">
            <div class="form-group">
                <label for="inputEmail">Email*</label>
                <input autofocus class="form-control" id="inputEmail" name="email" placeholder="Email" required type="email">
                    <div class="text-center mt-2">
                        <button class="btn btn-lg btn-success mt-2 ml-0" type="submit">
                            Envoyer mon email !
                        </button>
            </div>
        </form>
    </div>
        {% endblock %}
