{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
    <div class="container bubble">
        <h2 class="bubble-title">Connexion</h2>
        <div>
    {% if hasError %}
    <div class="m-flash alert alert-danger">
    Une erreur est survenue, l'email ou alors le mot de passe est invalide.
    </div>
    {% endif %}

    {% for message in app.flashes('notice') %}
                <div class="m-flash alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

    <form action="{{ path ('security_login') }}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="_username" placeholder="Adresse email ..." type="text" required value="{{username}}">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input class="form-control" id="password" name="_password" placeholder="Mot de passe ..." type="password" required>
            <div class="container text-center mt-2">
            <a  href="{{ path ('app_forgotten_password') }}">Mot de passe oublié ?</a>
        </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-lg btn-success ml-0" id="btn-login" type="submit">C'est parti !</button>
        </div>
        <div class="text-center">
        <input type="checkbox" id="remember_me" name="_remember_me" />
            <label for="remember_me">Se souvenir de moi</label>
            </div>
    </form>
    </div>
{% endblock %}