{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
<div class="container bubble">
<h2 class="bubble-title">Inscription</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id':'signup'}}) }}
{{ form_widget(form) }}
<div class="text-center">
        <button class="btn btn-lg btn-success" id="btn-signup" type="submit">
        {{ button_label|default('C\'est parti !') }}
        </button>
</div>
{{ form_end(form) }}
</div>
{% endblock %}