<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>Invitation dans un groupe</title>
        </head>
        <body>
            <div>
                <h2 style="color:#253f58; font-size: 25px;">Les VallesBaques - Invitation au groupe "{{ crew.name }}"</h2>
                <p style="font-size: 15px;">Hello
                    <strong style="color: #d92139; font-size: 15px;">
                        {{user.userName}}</strong> &#128075;,</p>
                <p style="font-size: 15px;">Tu as été invité dans le groupe <strong style="color:#C700DA; font-size: 15px;">{{crew.name}}</strong>
                par {{userActive.userName}}.</p>
                <p style="font-size: 15px;">Tu fais dès à présent partie de la Team ! &#x1F600;
                <br/>
                Si tu veux commencer à jouer et defier les autres membres du groupe, rends-toi directement sur le site :
                    <a href="http://127.0.0.1:8000/">Les VallesBaques</a>
                </p>
                <p style="font-size: 15px;">L'Equipe des VallesBaques.
                    <br/>
                    Enjoy !
                </p>
            </div>
        </body>
</html>