<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>Email Inscription</title>
        </head>
        <body>
            <div>
                <h2 style="color:#253f58; font-size: 25px;">Inscription réussie - Les VallesBaques</h2>
                <p style="font-size: 15px;">Bienvenue
                    <strong style="color: #d92139; font-size: 15px;">
                        {{user.userName}}</strong> &#128075;,</p>
                <p style="font-size: 15px;">Maintenant que tu es inscrit(e), tu vas pouvoir profiter de l'application et tester tes connaissances !</p>
                <p style="font-size: 15px;">Clique sur ce lien pour te rendre directement sur le site :
                    <a href="http://127.0.0.1:8000/">Les VallesBaques</a>
                </p>
                <p style="font-size: 15px;">L'Equipe des VallesBaques te remercie pour ton inscription.
                    <br/>
                    Enjoy !
                </p>
            </div>
        </body>
</html>
